<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="severity" value="warning"/>

    <property name="fileExtensions" value="java, properties, xml"/>
    <!-- Исключает из проверки 'module-info.java' файлы -->
    <module name="BeforeExecutionExclusionFileFilter">
        <property name="fileNamePattern" value="module\-info\.java$"/>
    </module>

    <!-- Проверка длины строки -->
    <module name="LineLength">
        <property name="max" value="120"/>
        <property name="ignorePattern"
                  value="^package.*|^import.*|href\s*=\s*&quot;[^&quot;]*&quot;|http://|https://|ftp://"/>
        <message key="maxLineLen"
                 value="Длина линии слишком большая ({0} > {1} символов)"/>
    </module>

    <module name="TreeWalker">
        <!-- Проверка именования -->
        <module name="TypeName">
            <property name="format" value="^[A-Z][a-zA-Z0-9]*$"/>
            <message key="name.invalidPattern"
                     value="Имя класса ''{0}'' должно соответствовать PascalCase паттерну ''{1}''"/>
        </module>
        <!-- Проверка импортов -->
        <module name="AvoidStarImport">
            <message key="name.invalidPattern"
                     value="Type name ''{0}'' must match pattern ''{1}''."/>
            <message key="name.invalidImport" value="Используйте явные импорты вместо wildcard (*)"/>
        </module>

        <module name="RedundantImport">
            <message key="name.redundantImport" value="Удалите избыточный импорт (*)"/>
        </module>

        <module name="UnusedImports">
            <message key="name.unusedImport" value="Удалите неиспользуемый импорт (*)"/>
        </module>

        <module name="CustomImportOrder">
            <property name="separateLineBetweenGroups" value="true"/>
            <property name="sortImportsInGroupAlphabetically" value="true"/>
            <message key="name.inlineImports" value="Импорты должны быть упорядочены и каждый на новой строке (*)"/>
        </module>

        <!-- Проверка пустых строк -->
        <module name="EmptyLineSeparator">
            <property name="tokens" value="CLASS_DEF"/>
            <property name="allowNoEmptyLineBetweenFields" value="false"/>
            <message key="name.emptyLine" value="После объявления класса должна быть пустая строка"/>
        </module>

        <module name="EmptyLineSeparator">
            <property name="tokens" value="METHOD_DEF, CTOR_DEF"/>
            <property name="allowNoEmptyLineBetweenFields" value="false"/>
            <message key="name.emptyLine" value="Между методами должна быть пустая строка"/>
        </module>

    </module>

    <!-- Форматтер -->
    <module name="NewlineAtEndOfFile">
        <message key="name.newlineAtEndOfFile" value="Файл должен заканчиваться пустой строкой"/>
    </module>

</module>